#
# Used for when AdvancedServerList doesn't have a cached player to use for ${player name}
#
# Defaults to 'Anonymous' when not present.
#
unknown_player: "Anonymous"

#
# Should the Caching of players be disabled?
#
# When set to true will AdvancedServerList not load any players from the cache.data file (if present) nor save any to it.
# Placeholders that rely on the player being cached (such as ${player isWhitelisted}) will not work while this option is enabled.
#
# Defaults to false when not present.
#
disable_cache: false

#
# Should AdvancedServerList check for new versions?
#
# When set to true will AdvancedServerList check for a new version on modrinth.com every 12 hours and inform you in the
# console about whether it found any new update or not.
#
# Defaults to false when not present.
#
check_updates: true